/* debug layout*/
.row {
    border: 1px solid #0a1238;
    background-color: #6f85f3;
    min-height: 4rem;

}

[class^="col"] {
    border: 1px solid #414413;
    background-color: #ceda2e;
    min-height: 2rem;
}

/* layout */

header [class^="col"] {
    vertical-align: middle;
    line-height: 3.5rem;
}

header .row [class^="col"]:last-child {
    text-align: right;
}