/* styling */

/* header */
header {
    background-color: #2C3E50;
    height: 3rem;
}

/*  jumbotron */
#jumbotron {
    background-color: #1ABC9C;
}

#jumbotron img {
    max-width: 200px;
}

/* portfolio */

#portfolio h1,
#contact-me h1 {
    color: #333333;
}

#portfolio img {
    max-width: 100%;
}

#portfolio .special,
#contact-me .spacial {
    color: #2C3E50;
}

/* about */
#about {
    background-color: #1ABC9C;
    color: #fff;
}


/* contact me  */
#contact-me .my_border {
    border: none;
    border-bottom: 1px solid #D2D2D2;
    border-radius: 0;
}

#contact-me .btn.btn-primary {
    background-color: #1ABC9C;
    border: none;
}

/* find us */
#find-us {
    background-color: #3A546D;
    color: #fff;
}

.fa-minus {
    margin: -1px;
}

.fa-star {
    padding: 5px;
}

#find-us .fa-brands {
    width: 34px;
    height: 34px;
}

#find-us .start-b {
    color: #1ABC9C;
}

/* footer */
footer {
    background-color: #2C3E50;
    height: 75px;
}