/* debug layout*/
/* .debug .row {
    border: 1px solid #0a1238;
    background-color: #6f85f3;
    min-height: 4rem;

}

.debug [class^="col"] {
    border: 1px solid #414413;
    background-color: #ceda2e;
    min-height: 2rem;
}

.debug section {
    border: 1px dashed rgb(133, 243, 219);
    background-color: rgb(36, 184, 60);
}

.debug .container {
    border: 1px solid #6c36b4;
}

.debug .div {
    border: 1px dashed rgb(216, 234, 241)
} */

/* layout */


#jumbotron {
    min-height: 20rem;
}


#portfolio [class^="col"] {
    min-height: 8rem;
}

/* styling */

header {
    background-color: #2C3E50;
    height: 3rem;
}

#jumbotron {
    background-color: #1ABC9C;
}

#jumbotron img {
    max-width: 200px;
}

#portfolio h1,
#contact-me h1 {
    color: #333333;
}

#portfolio img {
    max-width: 100%;
}

#portfolio .special,
#contact-me .spacial {
    color: #2C3E50;
}

#about {
    background-color: #1ABC9C;
    color: #fff;
}

#find-us {
    background-color: #3A546D;
    color: #fff;
}

.fa-minus {
    margin: -1px;
}

.fa-star {
    padding: 5px;
}

#contact-me .my_border {
    border: none;
    border-bottom: 1px solid #D2D2D2;
    border-radius: 0;
}

#contact-me .btn.btn-primary {
    background-color: #1ABC9C;
}

#find-us .fa-brands {
    width: 34px;
    height: 34px;
}

#find-us .start-b {
    color: #1ABC9C;
}

footer {
    background-color: #2C3E50;
    height: 75px;
}